<div class="row">
  <button (click)="changeStyle()" style="width: fit-content; height: fit-content; position:fixed; left: 20px; " class="btn btn-outline-light">
    <div *ngIf="isEnabled; else elseBlock">Activar</div>
    <ng-template #elseBlock>Desactivar</ng-template>

  </button>
  <div class="col-md-4 p-3" *ngFor="let photo of photos">
    <div
      class="card card-photo"
      (click)="selectedCard(photo._id)"
    >
      <div class="card-header">
        {{ photo.title }}
      </div>
      <img
        [src]="'http://localhost:4000/' + photo.imagePath"
        class="img-card-top w-100"
      />
      <div class="card-body">
        <p>{{ photo.description }}</p>
      </div>
    </div>
  </div>
</div>
